@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Hotel Luxor - Domů";
}

<div class="jumbotron text-center bg-light p-5">
    <h1 class="display-4">Vítejte v Hotelu Luxor</h1>
    <p class="lead">Zažijte luxusní ubytování s vynikajícími službami a komfortem.</p>
    <a href="/User/Room" class="btn btn-primary btn-lg mt-3">Dostupné pokoje</a>
</div>

<div class="container mt-5">
    <h2 class="text-center">Naše služby</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Ubytování</h3>
            <p>Pohodlné a moderní pokoje pro jednotlivce, páry i rodiny.</p>
        </div>
        <div class="col-md-4">
            <h3>Wellness a spa</h3>
            <p>Relaxujte v našem wellness centru s bazénem a saunou.</p>
        </div>
        <div class="col-md-4">
            <h3>Gastronomie</h3>
            <p>Ochutnejte vynikající pokrmy v naší luxusní restauraci.</p>
        </div>
    </div>
</div>
